{% extends "layout.html" %}
{% block content %}
<div style="display: flex; justify-content: left; padding-left: 100px">
  <div
    style="height: 1457px; width: 732px; margin-top: 48px"
    class="entry-content"
  >
    
    <p>&nbsp;</p>

      <!-- <div class="users" style="overflow: scroll; height: 500px;">
        {% for user in users %}
        
        <div class="box mb-3">
          <a href="/{{user}}">{{user}}</a>
        </div>
        {% endfor %}
      </div> -->
    <footer style="text-align: center" class="entry-footer">
    </footer>
    <!-- .entry-footer -->
  </div>
</div>
{% endblock %}
